#root {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    overflow: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c6c6c6;
}
